@using TAiMStore.Model.ViewModels;
@using TAiMStore.HtmlHelpers;
@model ProductsViewModel

@{
    ViewBag.Title = "Товары";
}

@foreach (var p in @Model.Products)
{
    @Html.Partial("ProductSummary",p)
}

<center>
<div>Cтраницы </div>
            <div class="btn-group pull-left">
                @Html.PageLinks(Model.PagingInfo, x => Url.Action("List",
                    new { page = x, category = Model.CurrentCategory }))
            </div>
</center>

