@model Dictionary<TAiMStore.Model.ViewModels.CategoryViewModel, double>



@Html.ActionLink("Домой", "List", "Product", null,
    new { @class = "btn btn-block btn-default btn-lg" })

@foreach (var link in Model)
{
    if (link.Value == 0)
    {
        <div class="btn btn-block btn-default btn-lg"  style="box-shadow: black 1px 1px 1px 1px;">
            @Html.RouteLink(link.Key.CategoryName, new
         {
             controller = "Product",
             action = "List",
             category = link.Key.CategoryName,
             page = 1
         },
             new
             {
                 @class = link.Key.CategoryName == ViewBag.SelectedCategory ? "selected" : null
             })
        </div>
    }
    else
    {
        <div class="btn btn-block btn-default btn-lg" style="box-shadow: black 1px 1px 1px 1px;">
            @Html.RouteLink(link.Key.CategoryName, new
         {
             controller = "Product",
             action = "List",
             category = link.Key.CategoryName,
             page = 1
         },
             new
             {
                 @class = link.Key.CategoryName == ViewBag.SelectedCategory ? "selected" : null
             })
        </div>
        <div class="one thirds button yellow">-@link.Value.ToString()%</div>
    }
}